*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
}
.navbar{
    background-size: cover;
    height: auto;
    width: 100%;
}
#browse .title{
    text-align: center;
    padding: 30px;
}
#browse .container-fluid a{
    text-decoration: none;

}
#online{
    background: blue;
    padding: 50px;
}
#online .container .row {
    text-align: center;
}
#online .container .row button{
    width: 250px;
    margin: 0 auto;
    border-radius:200px;
}
#online .container .row .a{
    background: rgb(99, 99, 234);
    height: 30px;
    width: 40px;
    border-radius: 40%;
    text-align: center;
}
 /* footer style starts */
 #footer {
    background-color: rgb(37, 37, 37);
}
#footer .rights{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
#footer .row .col button{
    background-color: rgb(9, 9, 9);
    color: rgb(180, 162, 162);
    margin: 2px;
    border: none;
    width: 250px;
    height: 100px;
    text-align: start;
}
#footer .row .col button i{
    color: white;
    font-size:xx-large;
}
#footer .nav{
    border-top: 1px solid gainsboro; 
}
#footer .nav{
    border: 1px solid rgb(56, 56, 56);
}
#footer .nav a{
    color: grey;
}
/* footer style ends */
#school{
    padding: 30px;
}
#school .title{
    text-align: center;
}
#school .row .card-img-overlay{
    text-align: center;
}
#school .card:hover{
   box-shadow: 0 4px 8px aliceblue;
   transform: translateY(-5px); 
}
#school .card-img-overlay:hover{
    background-color: blue;
    opacity: 0.5;
}
.card-img-overlay h5 {
    margin-top: 60px;
}
/* Scroll */
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.4s ease-in-out;
    padding: 10px;
   }
   header.scrolled{
    background-color: rgb(134, 6, 85);

   }
    header .navbar a{
    transition: color 0.4s ease-in-out;
    color: white;
   }
   header.scrolled .navbar a{
    color: white;
    
   }